 body{
 	background-image: url(https://t3.ftcdn.net/jpg/01/19/18/92/360_F_119189251_kiyixdA3xj8dcCimKuVa4e5DcuslHJPs.jpg);
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
 	background-size: cover;
 }
 .s1{
 	text-align: center;
	font-family: 'Roboto Slab', serif;
 	margin-left: 25%;
 	margin-right: 25%;
 	margin-bottom: 3%;
 	margin-top: 3%;
 	padding: 1%;
 	border: 1px solid black;
 	border-radius: 10px;
 	background-image: url(https://t4.ftcdn.net/jpg/03/30/65/85/360_F_330658538_Mw5Y8XBYVBGIS6HVUEkeIf5DzvUMbbto.jpg);
 	background-repeat: no-repeat;
    background-position: center;

 }
 .s1 h1{
 	margin-bottom: 0.5%;
 }
 .top{
 	padding-right: 0.5%;
 }
 .s2{
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 6%;
 	background-color: rgb(248, 27, 14);
 }
 .photo{
 	margin-right: 5%;
 	margin-left: 5%;
 	padding-top: 0.5%;
 	float: left;
 }
 .about{
 	float: center;
 }
 .s3{
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 1%;
 	margin-top: 5%;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	background-color: #E65100;
 }

 .s4{
 	font-family: 'Roboto Slab', serif;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	padding-left: 5%;
 	margin-top: 5%;
 	border-radius: 10px;
 	background-color: rgba(233, 239, 9, 0.8);
 }
 .s5{
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 2%;
 	margin-top: 5%;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	background-color: #03C04A;

 }
 .top1{
 	padding-left: 25%;
 	padding-right: 3%;
 }
 .s6{
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 2%;
 	margin-top: 5%;
 	padding-bottom: 8%;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	background-color: #1E88E5;
 }
 .scr{
 	float: left;
 }
 .s7{
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 1%;
 	margin-top: 5%;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	background-color: #4B0082;

 }
 .s8{
 	font-family: 'Roboto Slab', serif;
 	padding-left: 5%;
 	padding-bottom: 1%;
 	margin-top: 5%;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 10px;
 	background-color: #B200ED;
 }
 .s9{
    font-family: 'Roboto Slab', serif;
    padding-left: 5%;
    padding-bottom: 1%;
    margin-top: 5%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-image: url(https://e360.yale.edu/assets/site/CherokeePrairie_Arkansas_WilliamDarkPhotography_web.jpg);
    background-position: center;
 }
 .si{
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.4%;
    padding-right: 80%;
    margin-bottom: 1%;
 }
 .mu{
     display: block;
    border-radius: 5px;
    padding: 0.4%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-right: 80%;
    padding-bottom: 4%;
 }
